@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
    background-color: #492975;
    overflow: hidden;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 8rem 0;
    height: 100vh;
}

.signin {
    background-color: #FF9A00;
    border: none;
    outline: none;
    padding: 0.5rem 6rem;
    color: #1e1e1e;
    font-family: 'Caveat Brush', cursive;
    font-size: 3rem;
    border-radius: 1rem;
    text-decoration: none;
}

.username {
    color: lightgray;
}